 main {
    background-color: $bg-color-main;

    .textoMostSold {
        text-align: center;
        color: white;
    }

     .contenedorGuitar {
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        width: 400px;
        height: 400px;
    }

     .card {
         text-align: center;
         height:100%;
         margin:3%;
         padding:3%;
     }

     .card-title {
         margin-top: 3%;
     }

     .contenedorNewsletter {
        background-color:$color-terciario;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1.5%;
        margin-top: 3%;
    }

    .textoNews {
        padding-left: 39%;
        color: white;
    }
    
    .textoCorreo {
        padding-left: 39%;
        color: white;
    }

 }